* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(135deg, #2C3E50, #34495E);
    background-attachment: fixed;
    color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    max-width: 400px;
    width: 100%;
    background: #F4F6F7;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

#fecha {
    font-size: 0.9rem;
    color: #7F8C8D;
    margin-bottom: 10px;
}

.encabezado h1 {
    font-size: 1.8rem;
    color: #2C3E50;
    font-weight: 700;
    margin-bottom: 10px;
}

.encabezado h2 {
    font-size: 1.2rem;
    color: #16A085;
    font-weight: 500;
    margin-bottom: 20px;
}

.agregar {
    background-color: #ECF0F1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-bottom: 20px;
}

.agregar input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding-left: 15px;
    font-size: 1rem;
    color: #2C3E50;
}

.agregar input::placeholder {
    font-size: 1rem;
    color: #7F8C8D;
}

.agregar i {
    font-size: 30px;
    color: #2980B9;
    cursor: pointer;
}

.agregar i:hover {
    transform: scale(1.2);
}

.tareas {
    font-size: 1rem;
}

.tareas h2 {
    font-size: 1.5rem;
    color: #2C3E50;
    margin-bottom: 15px;
}

.tareas ul {
    list-style: none;
}

.tareas li {
    background-color: #BDC3C7;
    border-radius: 10px;
    padding: 15px;
    color: #2C3E50;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.tareas li:hover {
    background-color: #95A5A6;
}

.tareas p {
    font-weight: 600;
    margin: 0;
}

.tareas i {
    font-size: 20px;
    color: #C0392B;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tareas i:hover {
    color: #A93226;
}

.tachado {
    text-decoration: line-through;
    opacity: 0.6;
}
